# Database
DATABASE_URL="mysql://user:password@localhost:3306/picture_management"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# AI Services (Optional)
# BAIDU_AI_API_KEY=""
# BAIDU_AI_SECRET_KEY=""

DEEPSEEK_API_KEY='sk-e2e9bb3b77224a62a759cf383ea5b351'
DEEPSEEK_BASE_URL="https://api.deepseek.com"